
body{
    background-color: black;
}
h1{
    color: white;
    
}
p{
    color: white;
}
.Search{
    float: left;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
}
.Search .Search-input input {
    background: white;
}
.subscribe-button{
    color: green;
    margin: auto;
    border: 0;
    font: normal bold 20px Ubuntu, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    background: 0 0;
    outline: 0;
    cursor: pointer;
    display: inline-block;
}

