body{
    background-color: black;
}
h1{
    color: white;
    
}
p{
    color: white;
}
.Search{
    float: right;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
}
.Search .Search-input input {
    background: white;
}
.subscribe-button{
    margin: 12px;
    color: green;
    margin: auto;
    border: 0;
    font: normal bold 20px Ubuntu, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    background: 0 0;
    outline: 0;
    cursor: pointer;
    display: inline-block;
}
*
{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
ul{
    float: left;
     list-style-type: none;
     margin-top: 25px;
}
ul li
{
     display: inline-block;
}
ul li a{
    text-decoration: none;
    color: yellow;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;

    margin: auto;
    border: 0;
    font: normal bold 20px Ubuntu, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    background: 0 0;
    outline: 0;
    cursor: pointer;
    display: inline-block;
}